@model ProfileManager.ViewModels.ProfileViewModel
@using ProfileManager.Common.Helpers;

<div class="panel panel-default">
    <div>
        <nav class="navbar navbar-light bg-light">
            <form class="container-fluid justify-content-start">
                 <a class="btn btn-outline-success me-2" href="~/Home/Index">Back to List</a>
            </form>
        </nav>
    </div>
    <h4>Personal Details</h4>
    <div class="row">
        <div class="col-6">
            <ul class="list-group list-group-horizontal">
                <li class="cus-bg-blue col-6 list-group-item"><label asp-for="FullName"></label></li>
                <li class="cus-bg-blue col-6 list-group-item">@Model.FullName</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="col-6 list-group-item"><label asp-for="Age"></label></li>
                <li class="col-6 list-group-item">@Model.Age</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="cus-bg-blue col-6 list-group-item"><label asp-for="Gender"></label></li>
                <li class="cus-bg-blue col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.Gender)</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="col-6 list-group-item"><label asp-for="CivilStatus"></label></li>
                <li class="col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.CivilStatus)</li>
            </ul>

            <ul class="list-group list-group-horizontal">
                <li class="cus-bg-blue col-6 list-group-item"><label asp-for="Race"></label></li>
                <li class="cus-bg-blue col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.Race)</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="col-6 list-group-item"><label asp-for="Religion"></label></li>
                <li class="col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.Religion)</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="cus-bg-blue col-6 list-group-item"><label asp-for="Cast"></label></li>
                <li class="cus-bg-blue col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.Cast)</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="col-6 list-group-item"><label asp-for="Job"></label></li>
                <li class="col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.Job)</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="cus-bg-blue col-6 list-group-item"><label asp-for="CivilStatus"></label></li>
                <li class="cus-bg-blue col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.CivilStatus)</li>
            </ul>

            <ul class="list-group list-group-horizontal">
                <li class="col-6 list-group-item"><label asp-for="City"></label></li>
                <li class="col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.City)</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="cus-bg-blue col-6 list-group-item"><label asp-for="District"></label></li>
                <li class="cus-bg-blue col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.District)</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="col-6 list-group-item"><label asp-for="Country"></label></li>
                <li class="col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.Country)</li>
            </ul>
        </div>
        <div class="col-6"></div>
    </div>


    <hr />
    <h4>Parents Details</h4>
    <h5>Father Details</h5>    
    <div class="row">
        <div class="col-6">
            <ul class="list-group list-group-horizontal">
                <li class="cus-bg-blue col-6 list-group-item"><label asp-for="Father.Religion"></label></li>
                <li class="cus-bg-blue col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.Father.Religion)</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="col-6 list-group-item"><label asp-for="Father.Race"></label></li>
                <li class="col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.Father.Race)</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="cus-bg-blue col-6 list-group-item"><label asp-for="Father.Cast"></label></li>
                <li class="cus-bg-blue col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.Father.Cast)</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="col-6 list-group-item"><label asp-for="Father.Job"></label></li>
                <li class="col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.Father.Job)</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="cus-bg-blue col-6 list-group-item"><label asp-for="Father.OtherDetails"></label></li>
                <li class="cus-bg-blue col-6 list-group-item">@Model.Father.OtherDetails</li>
            </ul>
        </div>
        <div class="col-6"></div>
    </div>

    <h5>Mother Details</h5>
    <div class="row">
        <div class="col-6">
            <ul class="list-group list-group-horizontal">
                <li class="cus-bg-blue col-6 list-group-item"><label asp-for="Mother.Religion"></label></li>
                <li class="cus-bg-blue col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.Mother.Religion)</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="col-6 list-group-item"><label asp-for="Mother.Race"></label></li>
                <li class="col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.Mother.Race)</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="cus-bg-blue col-6 list-group-item"><label asp-for="Mother.Cast"></label></li>
                <li class="cus-bg-blue col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.Mother.Cast)</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="col-6 list-group-item"><label asp-for="Mother.Job"></label></li>
                <li class="col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.Mother.Job)</li>
            </ul>
            <ul class="list-group list-group-horizontal">
                <li class="cus-bg-blue col-6 list-group-item"><label asp-for="Mother.OtherDetails"></label></li>
                <li class="cus-bg-blue col-6 list-group-item">@Model.Mother.OtherDetails</li>
            </ul>
        </div>
        <div class="col-6"></div>
    </div>


    <hr />
    <h4>Siblings Details</h4>
    @if (Model.SiblingOne != null)
    {
        <br />
        <div class="row">
            <div class="col-6">
                <ul class="list-group list-group-horizontal">
                    <li class="cus-bg-blue col-6 list-group-item"><label asp-for="SiblingOne.SiblingType"></label></li>
                    <li class="cus-bg-blue col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.SiblingOne.FamilyType)</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="col-6 list-group-item"><label asp-for="SiblingOne.Religion"></label></li>
                    <li class="col-6 list-group-item"> @Model.SiblingOne.Religion</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="cus-bg-blue col-6 list-group-item"><label asp-for="SiblingOne.Race"></label></li>
                    <li class="cus-bg-blue col-6 list-group-item">@Model.SiblingOne.Race</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="col-6 list-group-item"><label asp-for="SiblingOne.Cast"></label></li>
                    <li class="col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.SiblingOne.Cast)</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="cus-bg-blue col-6 list-group-item"><label asp-for="SiblingOne.Job"></label></li>
                    <li class="cus-bg-blue col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.SiblingOne.Job)</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="col-6 list-group-item"><label asp-for="SiblingOne.OtherDetails"></label></li>
                    <li class="col-6 list-group-item">@Model.SiblingOne.OtherDetails</li>
                </ul>
            </div>
            <div class="col-6"></div>
        </div>
       
    }

    @if (Model.SiblingTwo != null)
    {
        <br />
        <div class="row">
            <div class="col-6">
                <ul class="list-group list-group-horizontal">
                    <li class="cus-bg-blue col-6 list-group-item"><label asp-for="SiblingTwo.SiblingType"></label></li>
                    <li class="cus-bg-blue col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.SiblingTwo.FamilyType)</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="col-6 list-group-item"><label asp-for="SiblingTwo.Religion"></label></li>
                    <li class="col-6 list-group-item"> @Model.SiblingTwo.Religion</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="cus-bg-blue col-6 list-group-item"><label asp-for="SiblingTwo.Race"></label></li>
                    <li class="cus-bg-blue col-6 list-group-item">@Model.SiblingTwo.Race</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="col-6 list-group-item"><label asp-for="SiblingTwo.Cast"></label></li>
                    <li class="col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.SiblingTwo.Cast)</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="cus-bg-blue col-6 list-group-item"><label asp-for="SiblingTwo.Job"></label></li>
                    <li class="cus-bg-blue col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.SiblingTwo.Job)</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="col-6 list-group-item"><label asp-for="SiblingTwo.OtherDetails"></label></li>
                    <li class="col-6 list-group-item">@Model.SiblingTwo.OtherDetails</li>
                </ul>               
            </div>
            <div class="col-6"></div>
        </div>
        
    }

    @if (Model.SiblingThree != null)
    {
        <br />
        <div class="row">
            <div class="col-6">
                <ul class="list-group list-group-horizontal">
                    <li class="cus-bg-blue col-6 list-group-item"><label asp-for="SiblingThree.SiblingType"></label></li>
                    <li class="cus-bg-blue col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.SiblingThree.FamilyType)</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="col-6 list-group-item"><label asp-for="SiblingThree.Religion"></label></li>
                    <li class="col-6 list-group-item"> @Model.SiblingThree.Religion</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="cus-bg-blue col-6 list-group-item"><label asp-for="SiblingThree.Race"></label></li>
                    <li class="cus-bg-blue col-6 list-group-item">@Model.SiblingThree.Race</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="col-6 list-group-item"><label asp-for="SiblingThree.Cast"></label></li>
                    <li class="col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.SiblingThree.Cast)</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="cus-bg-blue col-6 list-group-item"><label asp-for="SiblingThree.Job"></label></li>
                    <li class="cus-bg-blue col-6 list-group-item">@EnumExtensions.GetDisplayName(Model.SiblingThree.Job)</li>
                </ul>
                <ul class="list-group list-group-horizontal">
                    <li class="col-6 list-group-item"><label asp-for="SiblingThree.OtherDetails"></label></li>
                    <li class="col-6 list-group-item">@Model.SiblingThree.OtherDetails</li>
                </ul>                              
            </div>
            <div class="col-6"></div>
        </div>
       
    }
   

    <div>
        <nav class="navbar navbar-light bg-light">
            <form class="container-fluid justify-content-start">
                <a class="btn btn-outline-success me-2" href="~/Home/Index">Back to List</a>
            </form>
        </nav>
    </div>

</div>