@model ProfileManager.ViewModels.ProfileViewModel
@using ProfileManager.Common.Helpers;

<div class="panel panel-default">
    <ul class="list-inline">
        <li class="list-inline-item">@Model.FirstName</li>
        <li class="list-inline-item">@Model.LastName</li>

    </ul>

    <div class="row">
        <div class="">

            <ul class="list-group list-group-flush">
                <li class="col-6 list-group-item"><h5><span class="col-4 badge rounded-pill bg-secondary"><label asp-for="FullName"></label></span> <span class="badge bg-light text-dark">@Model.FullName</span></h5></li>
                <li class="col-6 list-group-item"><h5><span class="col-4 badge rounded-pill bg-secondary"><label asp-for="Age"></label></span> <span class="badge bg-light text-dark">@Model.Age</span></h5></li>
                <li class="col-6 list-group-item"><h5><span class="col-4 badge rounded-pill bg-secondary"><label asp-for="Gender"></label></span> <span class="badge bg-light text-dark">@EnumExtensions.GetDisplayName(Model.Gender)</span></h5></li>
                <li class="col-6 list-group-item"><h5><span class="col-4 badge rounded-pill bg-secondary"><label asp-for="CivilStatus"></label></span> <span class="badge bg-light text-dark">@EnumExtensions.GetDisplayName(Model.CivilStatus)</span></h5></li>
              
                <li class="col-6 list-group-item"><h5><span class="col-4 badge rounded-pill bg-secondary"><label asp-for="Race"></label></span> <span class="badge bg-light text-dark">@EnumExtensions.GetDisplayName(Model.Race)</span></h5></li>
                <li class="col-6 list-group-item"><h5><span class="col-4 badge rounded-pill bg-secondary"><label asp-for="Religion"></label></span> <span class="badge bg-light text-dark">@EnumExtensions.GetDisplayName(Model.Religion)</span></h5></li>
                <li class="col-6 list-group-item"><h5><span class="col-4 badge rounded-pill bg-secondary"><label asp-for="Cast"></label></span> <span class="badge bg-light text-dark">@EnumExtensions.GetDisplayName(Model.Cast)</span></h5></li>
                <li class="col-6 list-group-item"><h5><span class="col-4 badge rounded-pill bg-secondary"><label asp-for="Job"></label></span> <span class="badge bg-light text-dark">@EnumExtensions.GetDisplayName(Model.Job)</span></h5></li>
                <li class="col-6 list-group-item"><h5><span class="col-4 badge rounded-pill bg-secondary"><label asp-for="CivilStatus"></label></span> <span class="badge bg-light text-dark">@EnumExtensions.GetDisplayName(Model.CivilStatus)</span></h5></li>

                <li class="col-6 list-group-item"><h5><span class="col-4 badge rounded-pill bg-secondary"><label asp-for="City"></label></span> <span class="badge bg-light text-dark">@EnumExtensions.GetDisplayName(Model.City)</span></h5></li>
                <li class="col-6 list-group-item"><h5><span class="col-4 badge rounded-pill bg-secondary"><label asp-for="District"></label></span> <span class="badge bg-light text-dark">@EnumExtensions.GetDisplayName(Model.District)</span></h5></li>
                <li class="col-6 list-group-item"><h5><span class="col-4 badge rounded-pill bg-secondary"><label asp-for="Country"></label></span> <span class="badge bg-light text-dark">@EnumExtensions.GetDisplayName(Model.Country)</span></h5></li>
      
            </ul>
        </div>
        <div class="col-6"></div>
    </div>



</div>