@using ProfileManager.ViewModels;
@using ProfileManager.Common.Helpers;

@{
    ViewData["Title"] = "Home Page";
}

@model List<ProfileViewModel>

<div class="row">
    <div class="col-7">
        @foreach (ProfileViewModel item in Model)
        {
            <div class="col-12 card mb-3" @*style="max-width: 540px;"*@>
                <div class="row no-gutters">
                    <div class="col-md-2">
                        @if (item.Gender == ProfileManager.Common.Enums.GenderEnum.Female)
                        {
                            <img class="card-img m-3 rounded-circle shadow-4-strong" src="~/images/woman.png" />
                        }
                        else
                        {
                            <img class="card-img m-3 rounded-circle shadow-4-strong" src="~/images/man.png" />
                        }
                    </div>
                    <div class="col-md-10">

                        <div class="card-body">
                            <h6 class="card-title">@item.FirstName @item.LastName</h6>
                            <hr />
                            <ul class="list-group list-group-horizontal list-group-flush">
                                <li class="col-6 list-group-item"><h6><span class="col-4 badge rounded-pill bg-secondary">Civil Status</span> <span class="badge bg-light text-dark">@EnumExtensions.GetDisplayName(item.CivilStatus)</span></h6></li>
                                <li class="col-6 list-group-item"><h6><span class="col-4 badge rounded-pill bg-secondary">Gender</span> <span class="badge bg-light text-dark">@EnumExtensions.GetDisplayName(item.Gender)</span></h6></li>
                            </ul>
                            <ul class="list-group list-group-horizontal list-group-flush">
                                <li class="col-6 list-group-item"><h6><span class="col-4 badge rounded-pill bg-secondary">Age</span> <span class="badge bg-light text-dark">@item.Age</span></h6></li>
                                <li class="col-6 list-group-item"><h6><span class="col-4 badge rounded-pill bg-secondary">Job</span> <span class="badge bg-light text-dark">@EnumExtensions.GetDisplayName(item.Job)</span></h6></li>
                            </ul>
                            <ul class="list-group list-group-horizontal list-group-flush">
                                <li class="col-6 list-group-item"><h6><span class="col-4 badge rounded-pill bg-secondary">Race</span> <span class="badge bg-light text-dark">@EnumExtensions.GetDisplayName(item.Race)</span></h6></li>
                                <li class="col-6 list-group-item"><h6><span class="col-4 badge rounded-pill bg-secondary">Religion</span> <span class="badge bg-light text-dark">@EnumExtensions.GetDisplayName(item.Religion)</span></h6></li>
                            </ul>
                            <ul class="list-group list-group-horizontal list-group-flush">
                                <li class="col-6 list-group-item"><h6><span class="col-4 badge rounded-pill bg-secondary">Cast</span> <span class="badge bg-light text-dark">@EnumExtensions.GetDisplayName(item.Cast)</span></h6></li>
                                <li class="col-6 list-group-item"><h6><span class="col-4 badge rounded-pill bg-secondary">City</span> <span class="badge bg-light text-dark">@EnumExtensions.GetDisplayName(item.City)</span></h6></li>
                            </ul>
                            <ul class="list-group list-group-horizontal list-group-flush">
                                <li class="col-6 list-group-item"><h6><span class="col-4 badge rounded-pill bg-secondary">Published</span> <span class="badge bg-light text-dark">@item.CreatedOn</span></h6></li>
                                <li class="col-6 list-group-item"><h6><span class="col-4 badge rounded-pill bg-secondary">Country</span> <span class="badge bg-light text-dark">@EnumExtensions.GetDisplayName(item.Country)</span></h6></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@

                            <a href="@Url.Action("Details", "Home",new{id=item.Id})" class="btn btn-sm btn-success">See Details</a>
                            <a href="#" class="btn btn-sm btn-success">Send Request</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
   
    <div class="col-5"><h6>Side Bar</h6></div>
</div>



<section class="col-12 w-100 px-4 py-5" style="background-color: #9de2ff; border-radius: .5rem .5rem 0 0;">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-12">
            <div class="card" style="border-radius: 15px;">
                <div class="card-body p-4">
                    <div class="d-flex">
                        <div class="flex-shrink-0">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                 alt="Generic placeholder image" class="img-fluid" style="width: 180px; border-radius: 10px;">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 class="mb-1">Danny McLoan</h5>
                            <p class="mb-2 pb-1">Senior Journalist</p>
                            <div class="d-flex justify-content-start rounded-3 p-2 mb-2 bg-body-tertiary">
                                <div>
                                    <p class="small text-muted mb-1">Articles</p>
                                    <p class="mb-0">41</p>
                                </div>
                                <div class="px-3">
                                    <p class="small text-muted mb-1">Followers</p>
                                    <p class="mb-0">976</p>
                                </div>
                                <div>
                                    <p class="small text-muted mb-1">Rating</p>
                                    <p class="mb-0">8.5</p>
                                </div>
                                <div>
                                    <p class="small text-muted mb-1">Rating</p>
                                    <p class="mb-0">8.5</p>
                                </div>
                                    <div>
                                    <p class="small text-muted mb-1">Rating</p>
                                    <p class="mb-0">8.5</p>
                                </div>
                                <div>
                                    <p class="small text-muted mb-1">Rating</p>
                                    <p class="mb-0">8.5</p>
                                </div>
                            </div>
                            <div class="col-4 col-xs-12 d-flex pt-1">
                                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary me-1 flex-grow-1">Chat</button>
                                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary flex-grow-1">Follow</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




                        